#menu-5 .navbar-toggler {
  color: #f2f2f2;
}
#menu-5 .nav-link SPAN {
  font-size: 25px;
}
#msg-box4-3 .lead P {
  color: #ffffff;
}
#msg-box4-3 .mbr-section-title {
  color: #ffffff;
}
#content5-9 P {
  font-size: 20px;
}
#content4-2 H4 {
  text-align: right;
  font-size: 22px;
}
#content4-2 P {
  text-align: left;
}
